<!-- The footer -->
<div class="tag-footer w-100">

    <div class="container-fluid">

        <div class="row align-items-center justify-content-between pt-1">

            <!-- Logo & Short Description -->
            <div class="col-sm-12 col-md-5">
                <div class="d-flex justify-content-center align-items-center">

                    <!-- Logo -->
                    <div class="mx-2">
                        <img class="tag-footer-logo" src="../../assets/logo.png" alt="Logo">
                    </div>

                    <!-- Quote -->
                    <div class="tag-quote">
                        <figure>
                            <blockquote class="blockquote">
                                <span>Let the bidding begin!</span>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                <cite>The Auction Games</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <!-- Links -->
            <div class="col-sm-12 col-md-5 text-center">

                <div class="row justify-content-center align-items-center">
                    
                    <!-- GitHub Icon -->
                    <div class="col-3 tag-footer-icon">
                        <a href="https://github.com/joelsmith-2019" target="_blank">
                            <i class="fa-brands fa-github fa-3x fa-fw me-1"></i>
                        </a>
                    </div>

                    <!-- LinkedIn Icon -->
                    <div class="col-3 tag-footer-icon">
                        <a href="https://linkedin.com/in/joelsmith-2019" target="_blank">
                            <i class="fa-brands fa-linkedin fa-3x fa-fw me-1"></i>
                        </a>
                    </div>

                    <!-- Mail icon -->
                    <div class="col-3 tag-footer-icon">
                        <a href="mailto:joelsmith.2019@gmail.com">
                            <i class="fa-solid fa-envelope fa-3x fa-fw me-1"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Centered copyright -->
    <div class="tag-copyright py-1 text-center">
        <span>&copy; 2023 Copyright</span>
    </div>
</div>