<!-- The footer -->
<div class="tag-footer w-100">

    <div class="container-fluid">

        <div class="row align-items-center justify-content-around pt-3">

            <!-- Logo & Short Description -->
            <div class="col-sm-12 col-md-4">
                <div class="d-flex justify-content-center align-items-center">

                    <!-- Logo -->
                    <div class="me-2 pb-2">
                        <img src="../../assets/logo.png" alt="Logo" style="max-width: 40px">
                    </div>

                    <!-- Quote -->
                    <div class="mt-1">
                        <figure>
                            <blockquote class="blockquote">
                                <p>Let the bidding begin!</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                <cite>The Auction Games</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <!-- Navigation -->
            <div class="col-sm-12 col-md-4 mb-3">

                <!-- Navigation header -->
                <div class="text-center">
                    <h6>Navigation</h6>
                </div>

                <!-- Navigation list -->
                <div class="row justify-content-center align-items-center text-center">

                    <!-- Home Link -->
                    <div class="col-12 col-sm-3 col-md-4 p-0">
                        <a class="nav-link text-muted" href="">
                            <div class="d-flex flex-nowrap justify-content-center align-items-center">
                                <i class="fa-solid fa-home fa-fw me-1"></i>
                                Home
                            </div>
                        </a>
                    </div>

                    <!-- Market Link -->
                    <div class="col-12 col-sm-3 col-md-4 p-0 px-2">
                        <a class="nav-link text-muted" routerLink="market">
                            <div class="d-flex flex-nowrap justify-content-center align-items-center">
                                <i class="fa-solid fa-shop fa-fw me-1"></i>
                                Market
                            </div>
                        </a>
                    </div>

                    <!-- Account Link -->
                    <div class="col-12 col-sm-3 col-md-4 p-0">
                        <a class="nav-link text-muted" routerLink="account">
                            <div class="d-flex flex-nowrap justify-content-center align-items-center">
                                <i class="fa-solid fa-user fa-fw me-1"></i>
                                Account
                            </div>
                        </a>
                    </div>

                </div>

            </div>

            <!-- Links -->
            <div class="col-sm-12 col-md-4 mb-3">

                <!-- Links header -->
                <div class="text-center">
                    <h6>Links</h6>
                </div>

                <!-- Links list -->
                <div class="row justify-content-center align-items-center text-center">

                    <!-- GitHub Link -->
                    <div class="col-12 col-sm-3 col-md-4 p-0 pe-1">
                        <a class="nav-link text-muted no-wrap" href="https://github.com/joelsmith-2019" target="_blank">
                            <div class="d-flex flex-nowrap justify-content-center align-items-center">
                                <i class="fa-brands fa-github fa-fw me-1"></i>
                                GitHub
                            </div>
                        </a>
                    </div>

                    <!-- LinkedIn Link -->
                    <div class="col-12 col-sm-3 col-md-4 p-0 ps-1">
                        <a class="nav-link text-muted" href="https://www.linkedin.com/in/joelsmith-2019/"
                            target="_blank">
                            <div class="d-flex flex-nowrap justify-content-center align-items-center">
                                <i class="fa-brands fa-linkedin fa-fw me-1"></i>
                                LinkedIn
                            </div>
                        </a>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <!-- Centered copyright -->
    <div class="tag-copyright py-1 text-center">
        <span>&copy; 2023 Copyright</span>
    </div>
</div>