<!-- Create a login form that requires an email and a password -->
<div class="container">

    <!-- Auto-adjusting div -->
    <div class="col-sm-12 col-md-6 tag-container">

        <!-- Display the login form -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div>
                <h1 class="display-6 text-center">Login</h1>
                <div class="border-bottom my-3"></div>
                <p>
                    Welcome back to The Auction Games! Please enter your account credentials below.
                </p>
                <div class="border-bottom my-3"></div>
            </div>

            <div class="mb-3">
                <!-- Prompt the user for the email -->
                <label for="email" class="form-label">Email</label>
                <input type="text" id="email" formControlName="email" placeholder="Email" class="form-control">

                <!-- Display validation errors -->
                <div *ngIf="loginForm.controls.email.invalid && isSubmitted">
                    <p class="text-danger form-text">Provide a valid email.</p>
                </div>
            </div>

            <div class="mb-3">
                <!-- Prompt the user from the password -->
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" formControlName="password" placeholder="Password"
                    class="form-control">

                <!-- Display validation errors -->
                <div *ngIf="loginForm.controls.password.invalid && isSubmitted">
                    <p class="text-danger form-text">Provide a password.</p>
                </div>
            </div>

            <div class="mb-3">
                <!-- Submit the form -->
                <button type="submit" class="btn btn-primary">Login</button>
            </div>

            <!-- Display the error message if the login fails -->
            <div *ngIf="invalidCredentials">
                <p class="text-danger">Invalid credentials. Please try again.</p>
            </div>
        </form>

        <!-- Display the link to the registration page -->
        <div class="my-3">
            <p class="text-center">Don't have an account? Register <a routerLink="/register">here</a>.</p>
        </div>
    </div>
</div>