<!-- Define the base market container -->
<div class="container my-3">

    <!-- Marketplace heading -->
    <div class="tag-container row justify-content-between align-items-center p-3">

        <!-- The market header -->
        <div class="col-9">
            <h1>Welcome to the Market</h1>
            <p>Select an auction from below to view more details.</p>
        </div>

        <!-- Create auction button -->
        <div class="col-2 m-3">
            <a routerLink="/market/new" class="btn btn-secondary btn-outline-warning">
                Auction An Item
            </a>
        </div>

        <!-- The search bar -->
        <div class="col-12">

            <!-- The search form -->
            <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">

                <!-- Search by keyword -->
                <div>
                    <label for="keyword">Search</label>
                    <input formControlName="keyword" type="text" id="keyword" class="form-control"
                        placeholder="Search by keyword">
                </div>

                <!-- Get min price -->
                <div>
                    <label for="minPrice">Min Price</label>
                    <input formControlName="minPrice" type="number" id="minPrice" class="form-control"
                        placeholder="Min Price">
                </div>

                <!-- Get max price -->
                <div>
                    <label for="maxPrice">Max Price</label>
                    <input formControlName="maxPrice" type="number" id="maxPrice" class="form-control"
                        placeholder="Max Price">
                </div>

                <div class="">
                    <!-- Label of sort option -->
                    <label for="sort">Sort By</label>

                    <!-- Drop down based off AuctionSort enum -->
                    <select formControlName="sort" class="form-control">
                        <!-- Loop through sort options -->
                        <option *ngFor="let sort of sortOptions" [value]="sort">
                            {{sort}}
                        </option>
                    </select>
                </div>

                <!-- Submit button -->
                <div class="my-1">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- The auctions on the market -->
<div class="container">
    <div class="mt-1">
        <div class="row">
            <div *ngFor="let auction of allAuctions" class="col-md-6 col-lg-4 my-1">
                <grid-view-auction [auction]="auction"></grid-view-auction>
            </div>
        </div>
    </div>
</div>