<!-- Define the base market container -->
<div class="container my-3">

    <!-- Marketplace heading -->
    <div class="row justify-content-between align-items-center">

        <!-- The market header -->
        <div class="col-9">
            <h1>Welcome to the Market</h1>
            <p>Select an auction from below to view more details.</p>
        </div>

        <!-- Create auction button -->
        <div class="col-2 m-3">
            <a routerLink="/market/new" class="btn btn-secondary btn-outline-warning">
                Auction An Item
            </a>
        </div>

        <!-- The search bar -->
        <div class="col-12">

            <!-- The search form -->
            <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">

                <!-- Align search input -->
                <div class="row justify-content-center">

                    <!-- Search by keyword -->
                    <div class="col-12 col-sm-7 col-md-3 my-sm-1">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <div class="form-floating">
                                <input formControlName="keyword" type="text" id="keyword" class="form-control"
                                    placeholder="Search">
                                <label for="keyword">Search</label>
                            </div>
                        </div>
                    </div>

                    <!-- Get min price -->
                    <div class="col-12 col-sm-7 col-md-3 my-sm-1">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text">$</span>
                            <div class="form-floating">
                                <input formControlName="minPrice" type="number" id="minPrice" class="form-control"
                                    placeholder="0">
                                <label for="minPrice">Min Price</label>
                            </div>
                        </div>
                    </div>

                    <!-- Get max price -->
                    <div class="col-12 col-sm-7 col-md-3 my-sm-1">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text">$</span>
                            <div class="form-floating">
                                <input formControlName="maxPrice" type="number" id="maxPrice" class="form-control"
                                    placeholder="0">
                                <label for="maxPrice">Max Price</label>
                            </div>
                        </div>
                    </div>

                    <!-- Get sort option -->
                    <div class="col-12 col-sm-7 col-md-3 my-sm-1">
                        <div class="input-group input-group-sm">

                            <!-- Drop down based off AuctionSort enum -->
                            <div class="form-floating">
                                <select formControlName="sort" id="sort" class="form-select">
                                    <!-- Loop through sort options -->
                                    <option *ngFor="let sort of sortOptions" [value]="sort">
                                        {{sort}}
                                    </option>
                                    <!-- Sort Label -->
                                </select>
                                <label for="sort">Sort By</label>

                            </div>

                        </div>
                    </div>

                </div>

                <!-- Align search/reset buttons -->
                <div class="row justify-content-between mt-1">

                    <!-- Submit button -->
                    <div class="col-4 text-start">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>

                    <!-- Clear button -->
                    <div class="col-4 text-end">
                        <button type="button" class="btn btn-secondary" (click)="onResetSearch()">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- The auctions on the market -->
    <div class="row mt-1">
        <div *ngFor="let auction of allAuctions" class="col-md-6 col-lg-4 my-1">
            <grid-view-auction [auction]="auction"></grid-view-auction>
        </div>
    </div>
</div>