<!-- Define the base market container -->
<div class="container my-3">

    <!-- Marketplace heading -->
    <div class="tag-container row justify-content-between align-items-center p-3">
        
        <!-- The market header -->
        <div class="col-6">
            <h1>Welcome to the Market</h1>
        </div>

        <!-- Create auction button -->
        <div class="col-2 m-3">
            <a routerLink="/market/new" class="btn btn-success">
                Add Auction Listing
            </a>
        </div>

        <!-- The search bar -->
        <div class="col-12">
            <input type="text" class="form-control" placeholder="Search for an auction">
        </div>
    </div>

    <!-- The auctions on the market -->
    <div class="mt-3">
        <div class="row">
            <div *ngFor="let auction of allAuctions" class="col-3">
                <grid-view-auction [auction]="auction"></grid-view-auction>
            </div>
        </div>
    </div>
</div>