/* Default body styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    word-break: break-word;
}

/* Generic container */
.tag-container {
    margin: 1rem auto;
    padding: 10px;

    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: whitesmoke;
}

/* Image container */
.tag-image-container {
    position: relative;
    max-width: 100%;
    height: auto;
}

/* Images */
.tag-image {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Image overlay */
.tag-image-overlay {
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    transition: color 0.5s, background-color 0.5s;
}

/* Hover effect on image overlay */
.tag-image-overlay:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
}

/* Card */
.tag-card {
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 0 5px lightgray;
    overflow: hidden;
    transition: transform 0.2s;
}

/* Card hover effect */
.tag-card:hover {
    transform: scale(1.015);
}

/* Card header */
.tag-card-header {
    background-color: whitesmoke;
    padding: 5px
}

/* Card body */
.tag-card-body {
    /* Do nothing */
}