body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    word-break: break-word;
}

.tag-navbar {
    background-color: rgb(100, 100, 100);
}

.tag-nav-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    filter: grayscale(100%) brightness(300%);
}

.tag-nav-logo:hover {
    filter: brightness(0%);
}

.tag-footer-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    filter: grayscale(100%) brightness(300%);
}

.tag-quote blockquote, .tag-quote figcaption {
    color: white;
    font-size: 30px;
}

.tag-quote figcaption {
    font-size: 20px;
}

.tag-nav-link {
    color: white;
    text-decoration: none;
    transition: color 0.2s;
    font-size: 20px;
}

.tag-nav-link:hover {
    color: black;
}

.tag-container {
    padding: 3px;
}

.tag-footer {
    background-color: rgb(155, 155, 155);
    border-top: 3px solid rgb(100, 100, 100);
    /* background-color: rgb(170, 170, 170); */
}

.tag-footer-icon {
    margin: 0;
    padding: 0;
    filter: grayscale(100%) brightness(1000%);
}

.tag-footer-icon a:hover {
    filter: brightness(0%)
}

.tag-copyright {
    background-color: rgb(100, 100, 100);
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
}

.tag-login-register {
    margin: 1rem auto;
    padding: 10px;

    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: whitesmoke;
}

/* Card */
.tag-card {
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow: hidden;

    transition: transform 0.2s;
}

/* Card hover effect */
.tag-card:hover {
    transform: scale(1.015);
}

/* Card header */
.tag-card-header {
    background-color: whitesmoke;
    padding: 5px
}

/* Image container */
.tag-image-container {
    position: relative;

    /* display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto; */

    max-width: 100%;
    height: auto;
}

/* Images */
.tag-image {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Image overlay */
.tag-image-overlay {
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    transition: color 0.5s, background-color 0.5s;
}

/* Hover effect on image overlay */
.tag-image-overlay:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
}

/* Activity age */
.tag-activitiy-age-overlay {
    font-size: 12px;
    position: absolute;
    top: 2px;
    right: 2px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    transition: color 0.5s, background-color 0.5s;
}

/* Hover effect on activity age */
.tag-activitiy-age-overlay:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
}

/* Card body */
.tag-card-body {
    /* background-color: whitesmoke; */
}