/* Logo container */
.logo-container {
    padding: 1.5rem;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 2px black;
    background-color: rgb(100, 100, 100);
}

/* Whiten logo */
.logo-container img {
    filter: grayscale(100%) brightness(300%);
}