/* Buttons and links */
a,
button {
    display: inline-block;
    border: none;
    background: none;
    padding: 2px 5px 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: rgb(30, 30, 255);
    transition: background-color 0.2s, color 0.2s;
}

/* Button and link hover */
a:hover, 
button:hover {
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
}

/* Logo container */
.logo-container {
    padding: 1.5rem;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 2px black;
    background-color: rgb(100, 100, 100);
}

/* Whiten logo */
.logo-container img {
    filter: grayscale(100%) brightness(300%);
}