<!-- Base container -->
<div class="container mt-3">

    <!-- Spacer -->
    <div class="row my-3 border-bottom mt-3">
    </div>

    <!-- Details row -->
    <div class="row align-items-center">

        <!-- Account Header -->
        <div clas="col-12">
            <h1 class="text-center">Account</h1>
        </div>

        <!-- Generic Profile Image -->
        <div class="col-6">
            <!-- FA icon for profile -->
            <i class="fa-regular fa-user fa-10x"></i>
        </div>

        <!-- Account Details -->
        <div class="col-6">
            <div>
                <h3>Name:</h3>
                <p>{{ account?.name }}</p>
            </div>
            <div class="mt-3">
                <h3>Contact:</h3>
                <span>Email: {{ account?.email }}</span>
                <p class="text-muted">Please reach out for business inquiries only.</p>
            </div>
        </div>
    </div>

    <!-- Spacer -->
    <div class="row my-3 border-bottom mt-3">
    </div>

    <!-- Auctions Row -->
    <div class="row my-3">
        <!-- Auctions Header -->
        <div>
            <h1 class="text-center">Auctions</h1>
        </div>

        <!-- Auctions grid -->
        <div>
            <auction-grid [auctions]="auctions"></auction-grid>
        </div>
    </div>

    <!-- Spacer -->
    <div class="row my-3 border-bottom mt-3">
    </div>

    <!-- Activity Row -->
    <div class="activity">

        <!-- Activity Header -->
        <div>
            <h1 class="text-center">Activity</h1>
        </div>

        <!-- Activity grid -->
        <div>
            <activity-grid [activity]="activity"></activity-grid>
        </div>
    </div>

    <!-- Spacer -->
    <div class="row my-3 border-bottom mt-3">
    </div>
</div>