<!-- Base container -->
<div class="container mt-3" *ngIf="account != undefined">

    <!-- Spacer -->
    <div class="row my-3 border-bottom mt-3">
    </div>

    <!-- Account Details Info -->
    <div class="row align-items-center">

        <!-- Header -->
        <div class="col-12 text-center mb-3">
            <h1>Account Information</h1>
            <p>The following information relates solely to this account.</p>
        </div>

        <!-- Generic Profile Image -->
        <div class="col-sm-6 text-center d-none d-sm-block">
            <!-- FA icon for profile -->
            <i class="fa-regular fa-user fa-10x"></i>
        </div>

        <!-- Account info -->
        <div class="col-sm-6 text-center text-sm-start">
            <h5>Name</h5>
            <p>{{ account.name }}</p>

            <h5>Email</h5>
            <span>{{ account.email }}</span>
            <p class="text-muted">Please reach out for business inquiries only.</p>

            <div *ngIf="isOwner">
                <h5>Account ID:</h5>
                <span>{{ account.id }}</span>
                <p class="text-muted">This is only displayed to you, the account owner.</p>
            </div>
        </div>
    </div>

    <!-- Spacer -->
    <div class="row my-3 border-bottom mt-3">
    </div>

    <!-- Listed Auctions Row -->
    <div class="row my-3">
        <!-- Auctions Header -->
        <div class="text-center">
            <h1>From the Seller</h1>
            <p>The following auctions are from this seller.</p>
        </div>

        <!-- Auctions grid -->
        <div>
            <auction-grid [auctions]="sellerAuctions"></auction-grid>
        </div>
    </div>

    <!-- Spacer -->
    <div class="row my-3 border-bottom mt-3">
    </div>

    <!-- Purchased Auctions Row -->
    <div class="row my-3">
        <!-- Auctions Header -->
        <div class="text-center">
            <h1>Purchased</h1>
            <p>The following auctions have been purchased by this account.</p>
        </div>

        <!-- Auctions grid -->
        <div>
            <auction-grid [auctions]="purchasedAuctions"></auction-grid>
        </div>
    </div>

    <!-- Spacer -->
    <div class="row my-3 border-bottom mt-3">
    </div>

    <!-- Activity Row -->
    <div class="activity">

        <!-- Activity Header -->
        <div class="text-center">
            <h1>Recent Activity</h1>
            <p>The following activity is from this account.</p>
        </div>

        <!-- Activity grid -->
        <div>
            <activity-grid [activity]="activity"></activity-grid>
        </div>
    </div>

    <!-- Spacer -->
    <div class="row my-3 border-bottom mt-3">
    </div>
</div>

<!-- Not found -->
<div *ngIf="account == undefined">
    <not-found></not-found>
</div>